;; This global config file applies a configuration to all graphs. Any config
;; keys from a graph's logseq/config.edn can used here. A graph's
;; logseq/config.edn overrides config keys in this file except for maps which
;; are merged. As an example of merging, the following global and local configs:
;;   {:shortcuts {:ui/toggle-theme "t z"}}
;;   {:shortcuts {:ui/toggle-brackets "t b"}}
;;
;;  would result in the final config:
;;   {:shortcuts {:ui/toggle-theme "t z"
;;                :ui/toggle-brackets "t b"}}
{:shortcuts {:auto-complete/complete ["enter" "ctrl+y"]
 :go/graph-view []
 :editor/move-block-up ["alt+shift+up" "alt+k"]
 :editor/move-block-down ["alt+shift+down" "alt+j"]
 :editor/outdent ["shift+tab" "shift+, shift+,"]
 :editor/copy-text ["mod+shift+c" "y y"]
 :editor/indent ["tab" "shift+. shift+."]
 :plugin.logseq-automatic-linker/$shortcut$mod_p []
 :plugin.logseq-vim-shortcuts/vim-shortcut-copy-current-block-content-0 []}
}
